*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
body{
    
    min-height: 100vh;
    background: #07252d;
}
h1{
    
    position: relative;
    font-size: 3em;
    letter-spacing: 0px;
    color: #0e3742;
    width: 100%;
    text-align:top;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #0e3742;
        box-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        box-shadow: 0 0 10px #03bcf4;
        0 0 20px #03bcf4;
        0 0 40px #03bcf4;
        0 0 80px #03bcf4;
        0 0 160px #03bcf4;
    }
}
a{
    font-size: 30px;
    justify-content:left;
    align-items: left;
    text-align:left;
    position: left;
    color:rgb(0, 183, 255);
    
}
html{
    background-color: cadetblue;
}
h3{
    color: white;
    text-decoration: underline wavy;  
    text-decoration-color: rgb(0, 183, 255);; 
}
h4{
    color:rgb(0, 183, 255)
}
h5{
    color: white;
    text-decoration-line: underline; 
    text-decoration-color: rgb(0, 183, 255);
}