html{
    background-color: black;
}
a{
    font-size: 30px;
    justify-content:left;
    align-items: left;
    text-align:left;
    position: left;
    color: rgb(0, 183, 255);
}
body{
    
    min-height: 100vh;
    background: #07252d;
}
h2{
    
    position: relative;
    font-size: 3em;
    letter-spacing: 0px;
    color: white;
    width: 100%;
    text-align:top;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}
img{
    width: 250px;
}